@page
{
    size: auto;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    /* margin: 13mm 10mm 13mm 10mm; */
    margin: 20mm 10mm 20mm 10mm;
}

html, body, .container {
  /* width: 190mm; */
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  /* font-size: 0.6rem; */
  font-size: 0.8rem;
}

h3 {
  font-size: 0.5rem;
}


#jobs h3, #edu h3 {
  text-decoration: underline;
}

#edu .details {
  margin-top: 0;
}

.part .heading {
  /* margin-top: 0.9rem; */
}

.part .heading:first {
  /* margin-top: 0; */
}

h4 {
  font-size: 1rem;
}

.part h4 {
  background-color: #fcfcfc;
  color: white;
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
  color-adjust: exact !important;                 /*Firefox*/
}

.bg-primary /*, .badge, .badge-primary */ {
  /* background-color: #007bff !important;
  -webkit-print-color-adjust: exact;
  color-adjust: exact; */
  border: 1px solid #000;
}

.badge {
  border: 0;
}

.badge {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
  color-adjust: exact !important;                 /*Firefox*/
}

footer a {
    color: inherit;
    text-decoration: inherit;
}

/* Firefox */
.page.row {
  display: block !important;
}
.page.row > div {
  float: left;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 15px;
  padding-right: 40px;
}
footer > span {
  display: block;
}

/** TODO ***********************************************************************
Handle col-x-y classes to print property in Chrome.
Overwrite col-x-y to col-xs-y (see https://stackoverflow.com/q/22199429)
*/

/** TODO ***********************************************************************
Handle col-x-y classes as col-x-(y-1) due to smaller font
*/
